:root{
    --feature-color: #c3bebe;
    --feature-hovor-color: #827e7e;
    --accent-color: #0c0b0b;
    --accent-hover-color: #161313;
    --accent-light: #dfdada;
    --accent-hover-light: #b8b4b4;
    --text-color: #a7a4a4;
    --text-para: #4e4b4b;

    --screenshot-img: 1300px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body{
    background-color: var(--accent-hover-color);
    color: #fff;
}

nav{
    display: flex;
    justify-content: space-between;
    width: 90%;
    /* background-color: #1d1d1d; */
    margin: 2px auto;
    /* margin: 15px 0px; */
    padding: 10px 0px;
    /* border-radius: 8px; */
    align-items: center;
}

nav div a{
    text-decoration: none;
    color: var(--feature-color);
    margin-left: 15px;
}

nav div a:hover{
    color: var(--feature-hovor-color);
}

nav button{
    color: var(--feature-color);
    padding: 5px 8px;
    border-radius: 15px;
    border: none;
    margin-left: 5px;
    font-size: 14px;
}
#singin{
    background-color: #000;
    border: 0.5px solid #4c4b4b;
}

#singin:hover{
    background-color: var(--accent-hover-color);
}
#download{
    background-color: var(--accent-light);
    color: #000;
}

#download:hover{
    background-color: var(--accent-hover-light);
}
.main-header{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 90%;
    margin: 100px auto 0;
    gap: 20px;
}

.main-header h1{
    font-size: 30px;
    margin-top: 100px;
    max-width: 700px;
}

.main-header button{
    border: none;
    padding: 10px 16px;
    border-radius: 30px;
    font-size: 20px;
}

.main-header button:hover{
    background-color: var(--accent-hover-light);
}

.btn-wrapper{
    /* display: flex; */
    justify-content: flex-end;
    
}

#symb{
    font-size: 20px;
    font-weight: bold;
}

.img-shoot {
    width: 90%;
    margin: 20px auto 0;
    /* margin-top: 20px; */
}

.img-shoot img{
    margin-top: 40px;
    width: var(--screenshot-img);
    border-radius: 5px;
}

.trusted-logos{
    margin: 70px;
}

.trusted-logos p{
    font-size: 14px;
    text-align: center;
    width: 90%;
    margin: 15px auto;
}

.card{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    gap: 12px;
    padding: 10px;
}

.card img{
    border: 1px solid #393838;
    /* background-color: var(--accent-hover-color); */
    background-color: #1e1d1d;
    width: 156px;
    height: 96px;
    border-radius: 4px;
    padding: 28px;
}

.feature-section{
    /* background-color: var(--accent-hover-color); */
    background-color: #1e1d1c;
    width: 90%;
    margin: 15px auto 0;
    border: 1px solid #393838;
    border-radius: 5px;
    padding: 15px;
    cursor: pointer;

    /* height: 640px; */
    /* border: 2px solid red; */
}

.features-1{
    /* width: var(--screenshot-img); */
    height: 640px;
    /* padding: 20px; */
}

.feature-section div{
    display: flex;
    justify-content: center;
    /* flex-direction: column; */
    align-items: center;
    /* gap: 40px; */
    /* border: 2px solid red; */
}

.feature-left div{
    flex-direction: column;
    align-items: flex-start;
    margin-right: 75px;
    line-height: 1.5;
}

#lrn-agnt{
    margin-top: 20px;
    color: #e53809;
}

.feature-right img{
    /* margin: 0 auto 20px; */
    /* margin-right: 10px; */
    width: 830px;
    height: 635px;
    border-radius: 5px;
}

.feat-sec-2{
    margin-top: 100px;
}

.fet-rev{
    margin-left: 40px;
}

/* 5. Feature Cards Section */
.freature-card{
    /* width: ; */
    margin-top: 150px;
    margin-bottom: 150px;
}

.freature-card h1 {
    /* margin: 150px; */
    text-align: center;
    margin-bottom: 50px;
}

.freature-cards{
    width: 90%;
    margin: 10px auto 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
    /* border: 1px solid crimson; */
    /* padding: 20px; */
    
}

.f-card{
    display: flex;
    flex-direction: column;
    /* align-items: flex-start; */
    width: 430px;
    height: 275px;
    gap: 24px;
    border: 1px solid #393838;
    background-color: var(--accent-hover-color);
    padding: 20px;
    border-radius: 4px;
}

.f-card p{
    font-size: 16px;
}

.f-card-img{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    gap: 10px;
    /* margin-bottom: 20px; */
    padding-top: 12px;
    border-radius: 5px;
    margin-top: auto;
    /* padding: 50px; */
}

.f-card-img img{
    /* width: 100px;
    height: 100px;
    padding: 20px;
    border-radius: 10px; */
    width: 64px;
    height: 64px;
    border-radius: 10px;
    object-fit: cover;
}

.f-card-img h3{
    color: var(--text-color);
    font-size: 16px;
}

.f-card-img p{
    color: var(--text-para);
    font-size: 13px;
    margin-top: 4px;
}