:root{
    --feature-color: #c3bebe;
    --feature-hovor-color: #827e7e;
    --accent-color: #0c0b0b;
    --accent-hover-color: #161313;
    --accent-light: #dfdada;
    --accent-hover-light: #b8b4b4;

    --screenshot-img: 1300px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body{
    background-color: var(--accent-hover-color);
    color: #fff;
}

nav{
    display: flex;
    justify-content: space-between;
    width: 90%;
    /* background-color: #1d1d1d; */
    margin: 2px auto;
    /* margin: 15px 0px; */
    padding: 10px 0px;
    /* border-radius: 8px; */
    align-items: center;
}

nav div a{
    text-decoration: none;
    color: var(--feature-color);
    margin-left: 15px;
}

nav div a:hover{
    color: var(--feature-hovor-color);
}

nav button{
    color: var(--feature-color);
    padding: 5px 8px;
    border-radius: 15px;
    border: none;
    margin-left: 5px;
    font-size: 14px;
}
#singin{
    background-color: #000;
    border: 0.5px solid #4c4b4b;
}

#singin:hover{
    background-color: var(--accent-hover-color);
}
#download{
    background-color: var(--accent-light);
    color: #000;
}

#download:hover{
    background-color: var(--accent-hover-light);
}
.main-header{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 90%;
    margin: 100px auto 0;
    gap: 20px;
}

.main-header h1{
    font-size: 30px;
    margin-top: 100px;
    max-width: 700px;
}

.main-header button{
    border: none;
    padding: 10px 16px;
    border-radius: 30px;
    font-size: 20px;
}

.main-header button:hover{
    background-color: var(--accent-hover-light);
}

.btn-wrapper{
    /* display: flex; */
    justify-content: flex-end;
    
}

#symb{
    font-size: 20px;
    font-weight: bold;
}

.img-shoot {
    width: 90%;
    margin: 20px auto 0;
    /* margin-top: 20px; */
}

.img-shoot img{
    margin-top: 40px;
    width: var(--screenshot-img);
    border-radius: 5px;
}

.trusted-logos{
    margin: 70px;
}

.trusted-logos p{
    font-size: 14px;
    text-align: center;
    width: 90%;
    margin: 15px auto;
}

.card{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    gap: 12px;
    padding: 10px;
}

.card img{
    border: 1px solid #393838;
    /* background-color: var(--accent-hover-color); */
    background-color: #1e1d1d;
    width: 156px;
    height: 96px;
    border-radius: 4px;
    padding: 28px;
}

